#
# Namespaces
#
CONFIG_NAMESPACES=y
CONFIG_UTS_NS=y
CONFIG_IPC_NS=y
CONFIG_PID_NS=y
CONFIG_NET_NS=y
CONFIG_USER_NS=y

#
# Cgroups
#
CONFIG_CGROUPS=y
CONFIG_CGROUP_PIDS=y
CONFIG_CGROUP_FREEZER=y
CONFIG_CGROUP_CPUACCT=y
CONFIG_CGROUP_DEVICE=y
CONFIG_CGROUP_SCHED=y
CONFIG_CGROUP_BPF=y

#
# Memory accounting
#
CONFIG_MEMCG=y
CONFIG_MEMCG_SWAP=y

#
# Block IO accounting
#
CONFIG_BLK_CGROUP=y

#
# Cgroup v2
#
CONFIG_CGROUP2=y

#
# Overlay filesystem
#
CONFIG_OVERLAY_FS=y

#
# Networking
#
CONFIG_VETH=y
CONFIG_BRIDGE=y
CONFIG_BRIDGE_NETFILTER=y
CONFIG_MACVLAN=y
CONFIG_VLAN_8021Q=y

#
# Packet filtering
#
CONFIG_NETFILTER=y
CONFIG_NF_NAT=y
CONFIG_NF_CONNTRACK=y

#
# Seccomp
#
CONFIG_SECCOMP=y
CONFIG_SECCOMP_FILTER=y

#
# POSIX ACLs
#
CONFIG_FS_POSIX_ACL=y

#
# Tmpfs
#
CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y

#
# Unix sockets
#
CONFIG_UNIX=y

#
# Event notification
#
CONFIG_EVENTFD=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y

#
# Control groups for systemd
#
CONFIG_FHANDLE=y
CONFIG_AUTOFS_FS=y

#
# Required by many runtimes
#
CONFIG_KEYS=y
CONFIG_EPOLL=y